<section class="block block--dark block--skewed-left">
    <header class="block__header">
        <div class="container">
            <h2 class="block__heading">Heading 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nesciunt cupiditate in eaque non iste.</p>
        </div>
    </header>
</section>

<section class="block container">
    <h2 class="block__heading">Heading 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nesciunt cupiditate in eaque non iste.</p>
</section>